APP_ENV=development
HTTP_ADDR=127.0.0.1:8080
LOG_LEVEL=debug
WORKER_HEARTBEAT=10s

MYSQL_DATABASE=signalwatch
MYSQL_USER=signalwatch
MYSQL_PASSWORD=change-me-app-password
MYSQL_ROOT_PASSWORD=change-me-root-password
REDIS_PASSWORD=change-me-redis-password